@import '../../../../content/scss/bootstrap-variables';

/* ==========================================================================
Main page styles
========================================================================== */

.container {
  background-color: $darkOpacity;
}

.card {
  background-color: $darkOpacity;
}

.img-fluid {
  max-width: 100%;
  width: auto;
  margin: 0px auto;
  object-fit: cover;
  object-position: center;
}
