<div class="container stretch bg-light p-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="clearfix">
                <h2 *ngIf="currentUser">Adresgegevens: <b>{{currentUser.firstName}} {{currentUser.lastName}}</b></h2>
            </div>

            <div *ngIf="success" class="alert alert-success">
                <strong>Settings saved!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>
            <hr/>

            <form #settingsForm="ngForm" (ngSubmit)="save()" *ngIf="currentUser" name="form" novalidate role="form">

                <div class="form-group">
                    <label class="form-control-label" for="street">Straat</label>
                    <input [(ngModel)]="address.street" class="form-control" id="street" name="street"
                           placeholder="Straat"
                           type="text">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="number">Nummer</label>
                    <input [(ngModel)]="address.number" class="form-control" id="number" name="number"
                           placeholder="Nummer"
                           type="text">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="zip">Postcode</label>
                    <input [(ngModel)]="address.zipCode" class="form-control" id="zip" name="zip" placeholder="Postcode"
                           type="text">
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="plaats">Plaats</label>
                    <input [(ngModel)]="address.city" class="form-control" id="plaats" name="plaats"
                           placeholder="Plaats"
                           type="text">
                </div>

                <button [disabled]="settingsForm.form.invalid" class="btn btn-primary" type="submit">Opslaan</button>
            </form>
        </div>
    </div>

</div>
