<div class="container stretch bg-light p-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="clearfix">
                <h2>
                    <span id="user-management-page-heading">Sponsors</span>
                    <button class="btn btn-primary float-right jh-create-entity" [routerLink]="['./new']">
                        <fa-icon [icon]="'plus'"></fa-icon> <span>Nieuwe sponsor</span>
                    </button>
                </h2>
            </div>

            <jhi-alert></jhi-alert>
            <hr/>

            <div *ngIf="sponsors" class="table-responsive">
                <table class="table table-striped table-borderless">
                    <thead>
                    <tr>
                        <th><span>ID</span></th>
                        <th><span>Naam</span></th>
                        <th><span>Logo</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let sponsor of sponsors ;trackBy: trackId">
                        <td><a [routerLink]="['/sponsor', sponsor.id, 'view' ]">{{sponsor.id}}</a></td>
                        <td>{{sponsor.name}}</td>
                        <td>
                            <img [src]="'data:' + sponsor.logoContentType + ';base64,' + sponsor.logo" alt="sponsor image"
                                 class="img-fluid" style="height: 150px; margin: 0px;"/>
                        </td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button [routerLink]="['/sponsor', sponsor.id, 'view' ]"
                                        class="btn btn-info btn-sm"
                                        type="submit">
                                    <fa-icon [icon]="'eye'"></fa-icon>
                                    <span class="d-none d-md-inline">View</span>
                                </button>
                                <button [routerLink]="['/sponsor', sponsor.id, 'edit']"
                                        class="btn btn-primary btn-sm"
                                        type="submit">
                                    <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button [routerLink]="['/', 'sponsor', { outlets: { popup: sponsor.id + '/delete'} }]"
                                        class="btn btn-danger btn-sm"
                                        queryParamsHandling="merge"
                                        replaceUrl="true"
                                        type="submit">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
