<form name="deleteForm" (ngSubmit)="addUser()">
    <div class="modal-header">
        <h4 class="modal-title">Lid toevoegen</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label for="user">Kies een lid</label>
            <select
                name="user"
                id="user"
                class="form-control"
                [(ngModel)]="selectedUser"
            >
                <option *ngFor="let user of users" [ngValue]="user">{{ user.firstName }} {{ user.lastName }}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
        </button>
        <button id="jhi-confirm-delete-presence" type="submit" class="btn btn-success" [disabled]="selectedUser == null">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Toevoegen</span>
        </button>
    </div>
</form>
