<div class="container stretch text-center text-white pb-3">
    <img class="img-fluid" src="../../../../content/images/clubfoto_2019.jpg">

    <div class="mt-3">
        <p> Wie zijn wij ........ wat doen we? </p>
        <p> ... een groepje toeristen uit het Lokerse die voor het plezier graag wat kilometertjes verzetten op veld- en
            bospaden ... </p>
        <p> ... fietsen het ganse jaar door met de mountainbike: op zondagvoormiddag georganiseerde VeldToerTochten
            ... </p>
        <p> ... streven naar een aanbod van tochten en trips voor zowel gelegenheidsbikers als de meer sportieve rijder
            ... </p>
        <p> ... hebben een verzekering bij de Vlaamse WielrijdersBond ... </p>
        <p> ... interesse? Zie ons <a href="../../../../content/clubreglement/Clubreglement.pdf" target="_blank">clubreglement</a>
        </p>
    </div>

    <div class="mt-5">
        <img class="img-fluid" src="../../../../content/images/tenue_zwart.jpg">
    </div>

    <div class="mt-5">
        <img class="img-fluid" src="../../../../content/images/tenue_wit.jpg">
    </div>

</div>
