<div class="container stretch bg-light p-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="clearfix">
                <div class="float-md-left">
                    <h2><span> Overzicht activiteiten </span></h2>
                </div>
            </div>

            <hr/>

            <div class="table-responsive">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th class="width"></th>
                            <th class="width"></th>
                            <th class="rotated_cell width" *ngFor="let activity of activities"><div class="rotated_text width"> {{activity.title}} </div></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let presence of presences">
                            <td class="name"><span> {{presence.user}} </span></td>
                            <td><span> {{presence.qtyPresences}} </span></td>
                            <td *ngFor="let rit of presence.presences">
                                <span class="width" *ngIf="rit == true">
                                    <fa-icon icon="check"></fa-icon>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
